<form [formGroup]="taskForm">
    <h1 mat-dialog-title>Create a task</h1>
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <mat-form-field appearance="standard">
            <mat-label>Task title</mat-label>
            <input matInput formControlName="title" autocomplete="off">
            <mat-hint>max. {{validation.title}} characters</mat-hint>
            <mat-error *ngIf="taskForm.controls.title.hasError('maxlength')">Exceeded maximum length</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Task description</mat-label>
            <input matInput formControlName="description" autocomplete="off">
            <mat-hint>max. {{validation.description}} characters</mat-hint>
            <mat-error *ngIf="taskForm.controls.description.hasError('maxlength')">Exceeded maximum length</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
        <button mat-button (click)="save()" [disabled]="taskForm.invalid">Save</button>
    </div>
</form>
